<a href="https://colab.research.google.com/github/Edivaldo16/teste/blob/main/Python_analise_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para análise de dados (panda) - *Edivaldo Júnior*

In [ ]:
#Importando Biblioteca Pandas
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Datasets/teste.csv",error_bad_lines=False)

In [13]:
# Visualizando as 5 primeiras linhas 

df.head()

   Temperatura   Umidade    Salinidade
0           10         20           30
1           40         50           60
2           70         80           90
3          100        200          300
4          500       1000         2000

In [12]:
# Visualizando sem as ";"

df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Datasets/teste.csv",error_bad_lines=False, sep = ";")
df.head()

   Temperatura   Umidade    Salinidade
0           10         20           30
1           40         50           60
2           70         80           90
3          100        200          300
4          500       1000         2000